*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(150, 150, 150);
}
main{
    width: 100%;
    height: calc(100vh - 80px);
}

main::after{
    content: "";
    display: table;
    clear: both;
}

nav,.container{
    float: left;
}
nav{
    width: 200px;
    background-color: black;
    padding:10px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo>img:nth-child(2){
    display: none;
}

.logo img{
    width:60%;
}

nav ul{
    display:flex;
    flex-direction: column;
    justify-items: center;
    list-style-type: none;
}
.icon{
    height: 14px;
    color: rgb(150, 150, 150);
}

ul{
    margin-top:10px;
}
nav ul li{
    margin:5px 0px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.playlist{
    margin-top:5px;
}

.playlist i,.playlist span{
    font-size: 24px;
}
.playlist h3,.playlist i{
    color: white;
}
.playlist{
    color:rgb(150, 150, 150);
}

.playlist p{
    margin-top:10px;
}

.install-user{
    color: white;
}
.install-user img{
    height: 20px;
}

hr{
    margin : 10px 0px;
}

.user,
.install{
    display: flex;
    align-items: center;
}

.user span,
.install span {
    margin-left:5px;
}
.user img{
    height: 30px;
    border-radius: 100%;
    background-color: rgb(150, 150, 150);
}

footer{
    height: 80px;
    width:100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.left,.right{
    width:250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right{
    display: flex;
    justify-content: flex-end;
}
.left img{
    height:50px;
}

.text{
    margin:0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text p,
.text span{
    margin-left:20px;
}

.text p{
    color: white;
}

.text span{
    color: rgb(150, 150, 150);
}

.left-icon{
    margin-left:20px;
    color: rgb(150, 150, 150);
}



.center{
    width: 70%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.foot-icon{
    font-size:20px;
    color: white;
}

.foot-icon i{
    margin:0px 5px;
}

.bar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.progress{
    width:50%;
    height: 3px;
    background-color: rgb(150, 150, 150);;
    border-radius: 15px;
    padding:2px;
    position: relative;
}

.progress_due{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 40%;
    background-color: white;
}

.cerchio{
    position: absolute;
    background: white;
    height: 15px;
    width: 15px;
    top: 50%;
    right: -5%;
    border-radius: 50%;
    transform: translate(0%, -50%);
    display: none;
}
.right i,
.right .progress{
    margin:0px 10px;
    color:white;
    font-size:18px;
}




.container{
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgb(34, 34, 34);
    overflow-y: scroll;
}

.div-head{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: calc(100% - 200px) ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    z-index:2;
}

.div-head span{
    color: white;
    border :1px solid white;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 15px;
}

.div-nav{
    padding-top:100px;
    display: flex;
    justify-content: center;
}
.div-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.div-nav ul li a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    margin:0px 20px;
    text-transform: uppercase;
}


.div-content{
    margin: 10px 20px;
}
.recently_played{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-content h3{
    color: white;
}

.foto{
    width: calc(100% / 6 );
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.foto img{
    width: 100%;
}

.foto p{
    color: white;
    margin-top:5px;
    text-align: center;
}
.foto span{
    color: rgb(150, 150, 150);
    font-size: 0.8em;
    text-align: center;
}


.fc{
    position:relative;
}

.fc i{
    position:absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%,-0%);
}
.fc .hover-play{
    display: none;
    position: absolute;
    top:40%;
    color: white;
    font-size: 30px;
}

.foto:hover img{
    filter: brightness(20%);
}

.foto:hover .fc>.hover-play{
    display: block;
}

.creato_xte{
    margin: 10px 0px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cxt_items{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: flex-start;
    align-items: flex-start;
}

.artisti{
    margin: 50px 0px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.artisti_items{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: flex-start;
    align-items: flex-start;
}

.artisti_items .foto img{
    border-radius: 50%;
}


/*effetti hover*/

nav ul li:hover,
.playlist span:hover,
.playlist p:hover,
.text span:hover,
.div-nav ul li:hover a{
    color: white;
}


.div-head span:hover{
    font-size: 1.2em;
    cursor: pointer;
}

.progress:hover .progress_due{
    background-color: rgb(16, 189, 0);
}
.progress:hover .cerchio{
    display: block;
}





















@media  screen and (max-width:576px){
/* responsive nav */
    nav{
        width: 50px;
        background-color: black;
        padding:10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
    }
    
    .container{
        width: calc(100% - 50px) ;
        overflow-x: hidden;
    }
    
    .logo img:nth-child(1){
        display: none;
    }
    
    .logo img:nth-child(2){
        display: inline-block;
        width: 40px;
    }
    
    nav ul{
        display:flex;
        flex-direction: column;
        justify-items: center;
    }

    .icon{
        height: 40px;
        color: rgb(150, 150, 150);
    }
    
    ul{
        margin-top:10px;
    }
    nav ul li{
        margin-top:5px;
    }
    nav ul li a{
        text-decoration: none;
        color: rgb(150, 150, 150);
    }
    
    nav ul li a span{
        display: none;
    }

    .playlist{
        display: none;
    }

    .install-user{
        color: white;
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: flex-start;
        
    }

    .install-user img{
        height: 20px;
    }
    
    hr{
        margin : 10px 0px;
    }
    
    hr{
        display: none;
    }
    .user span,
    .install span {
        display: none;
    }
    .user img{
        height: 40px;
        border-radius: 100%;
        background-color: rgb(150, 150, 150);
    }


/* responsive footer*/
    footer{
        height: 80px;
        width:100%;
        background-color: rgb(41, 41, 41);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
    }
    
    .left,.right{
        width: 150px;
    }
    
    
    .left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .right{
        display: flex;
        justify-content: flex-end;
    }
    .left img{
        height:30px;
    }
    
    .text{
        margin-left:2px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .text p,
    .text span{
        margin-left:4px;
    }
    
    .text p{
        color: white;
    }
    
    .text span{
        color: rgb(150, 150, 150);
    }
    
    .left-icon{
        margin-left:2px;
        color: rgb(150, 150, 150);
    }
    
    
    
    .center{
        width: (100% - 300px) ;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
    }
    
    .foot-icon{
        font-size:14px;
        color: white;
    }
    
    .foot-icon i{
        margin:0px 1px;
    }
    
    .bar{
        display: flex;
        width:100%;
        justify-content: center;
        align-items: center;
    }
    .progress{
        width:60%;
        height: 3px;
        background-color: rgb(150, 150, 150);;
        border-radius: 15px;
        padding:2px;
        position: relative;
    }
    
    .progress_due{
        position: absolute;
        width: 40%;
        height:100%;
        top: 0%;
        left: 0%;
        background-color: white;
    }

    .right i,
    .right .progress{
        margin:0px 5px;
        color:white;
        font-size:10px;
    }



    .container{
        width: calc(100% - 50px);
        height: 100%;
        background-color: rgb(34, 34, 34);
        overflow-y: scroll;
    }
    
    .div-head{
        background-color: rgba(0,0,0,.4);
        position: fixed;
        width: calc(100% - 50px) ;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        z-index:2;
    }
    
    .div-head span{
        color: white;
        border :1px solid white;
        border-radius: 15px;
        padding: 15px;
        margin: 10px 15px;
    }
    
    .div-nav{
        padding-top:100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: calc(100%-50px);
    }
    .div-nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
    
    .div-nav ul li a{
        text-decoration: none;
        color: rgb(150, 150, 150);
        margin:0px 4px;
        text-transform: uppercase;
        width: 15px;
    }
    
    
    .div-content{
        margin: 10px 20px;
    }

    .recently_played{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .div-content h3{
        color: white;
    }
    
    .foto{
        width: 130px;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .foto img{
        width: 100%;
    }
    
    .foto p{
        color: white;
        margin-top:5px;
        text-align: center;
    }
    .foto span{
        color: rgb(150, 150, 150);
        font-size: 0.8em;
        text-align: center;
    }
    
    
    .fc{
        position:relative;
    }
    
    .fc i{
        position:absolute;
        top: 35%;
        left:50%;
        transform: translate(-50%,-0%);
    }
    .fc .hover-play{
        display: none;
        position: absolute;
        top:40%;
        color: white;
        font-size: 30px;
    }
    
    .foto:hover img{
        filter: brightness(20%);
    }
    
    .foto:hover .fc>.hover-play{
        display: block;
    }
    
}




