*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
main{
    width: 100%;
    height: calc(100vh - 80px);
}

nav{
    width: 200px;
    background-color: black;
    padding:10px;
    height: 100%;
}

.logo>img:nth-child(2){
    display: none;
}

.logo img{
    width:60%;
}

nav ul{
    display:flex;
    flex-direction: column;
    justify-items: center;
}
.icon{
    height: 14px;
    color: rgb(150, 150, 150);
}

ul{
    margin-top:10px;
}
nav ul li{
    margin-top:5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.playlist{
    margin-top:5px;
}

.playlist i,.playlist span{
    font-size: 24px;
}
.playlist h3,.playlist i{
    color: white;
}
.playlist{
    color:rgb(150, 150, 150);
}

.playlist p{
    margin-top:10px;
}

.nav-top{
    height: calc(100% - 80px);
}

.install-user{
    color: white;
}
.install-user img{
    height: 20px;
}

hr{
    margin : 10px 0px;
}

.user,
.install{
    display: flex;
    align-items: center;
}

.user span,
.install span {
    margin-left:5px;
}
.user img{
    height: 30px;
    border-radius: 100%;
    background-color: rgb(150, 150, 150);
}



footer{
    height: 80px;
    width:100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.left,.right{
    width:250px;
}


.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right{
    display: flex;
    justify-content: flex-end;
}
.left img{
    height:50px;
}

.text{
    margin:0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text p,
.text span{
    margin-left:20px;
}

.text p{
    color: white;
}

.text span{
    color: rgb(150, 150, 150);
}

.left-icon{
    margin-left:20px;
    color: rgb(150, 150, 150);
}



.center{
    width: 70%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.foot-icon{
    font-size:20px;
    color: white;
}

.foot-icon i{
    margin:0px 5px;
}

.bar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.progress{
    width:50%;
    height: 3px;
    background-color: rgb(150, 150, 150);;
    border-radius: 15px;
    padding:2px;
}

.right i,
.right .progress{
    margin:0px 5px;
    color:white;
    font-size:18px;
}

.container{
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgb(34, 34, 34);
}































@media  screen and (max-width:576px){
/* responsive nav */
    nav{
        width: 50px;
        background-color: black;
        padding:10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .container{
        width: calc(100% - 50px) ;
    }
    
    .logo img:nth-child(1){
        display: none;
    }
    
    .logo img:nth-child(2){
        display: inline-block;
        width: 40px;
    }
    
    nav ul{
        display:flex;
        flex-direction: column;
        justify-items: center;
    }

    .icon{
        height: 40px;
        color: rgb(150, 150, 150);
    }
    
    ul{
        margin-top:10px;
    }
    nav ul li{
        margin-top:5px;
    }
    nav ul li a{
        text-decoration: none;
        color: rgb(150, 150, 150);
    }
    
    nav ul li a span{
        display: none;
    }

    .playlist{
        display: none;
    }

    .install-user{
        color: white;
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: flex-start;
        
    }

    .install-user img{
        height: 20px;
    }
    
    hr{
        margin : 10px 0px;
    }
    
    hr{
        display: none;
    }
    .user span,
    .install span {
        display: none;
    }
    .user img{
        height: 40px;
        border-radius: 100%;
        background-color: rgb(150, 150, 150);
    }


/* responsive footer*/
    footer{
        height: 80px;
        width:100%;
        background-color: rgb(41, 41, 41);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
    }
    
    .left,.right{
        width:15%;
    }
    
    
    .left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .right{
        display: flex;
        justify-content: flex-end;
    }
    .left img{
        height:50px;
    }
    
    .text{
        margin-left:2px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .text p,
    .text span{
        margin-left:4px;
    }
    
    .text p{
        color: white;
    }
    
    .text span{
        color: rgb(150, 150, 150);
    }
    
    .left-icon{
        margin-left:2px;
        color: rgb(150, 150, 150);
    }
    
    
    
    .center{
        width: 70%;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
    }
    
    .foot-icon{
        font-size:14px;
        color: white;
    }
    
    .foot-icon i{
        margin:0px 1px;
    }
    
    .bar{
        display: flex;
        width:100%;
        justify-content: center;
        align-items: center;
    }
    .progress{
        width:50%;
        height: 3px;
        background-color: rgb(150, 150, 150);;
        border-radius: 15px;
        padding:2px;
    }
    
    .right i,
    .right .progress{
        margin:0px 1px;
        color:white;
        font-size:10px;
    }
}




