*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main nav, main section{
    float:left;
    background-color: black;
}

nav{
    height:100%;
    width:15%
}

section{
    height: 100vh;
    width:85%;
}